body {
  margin: 0 auto;
  width: 60rem;
}

#todo-content-input {
  display: flex;
  padding: 1%;
}

#todo-content-title-input {
  border: none;
  background-color: #ffd0a0;
  font-size: 2rem;
  flex-grow: 9;
  padding: 1%;
  border: 5px solid #ffd0a0;
}

#todo-content-title-input:focus {
  border: 5px solid #ffaa88;
}

#register-button {
  border-style: none;
  background-color: #ffaa88;
  font-size: 1.7rem;
}

#register-button:focus {
  background-color: #ffaabb;
}

#register-button::-moz-focus-inner {
  border: 0;
}

#todo-content-list {
  list-style: none;
  margin: 0;
  padding: 1%;
}

.content-title {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  font-size: 1.5rem;
}

.content-title:nth-child(odd) {
  background-color: #ffdddd;
}

.content-title:nth-child(even) {
  background-color: #ffeeee;
}

.content-title:hover {
  background-color: #ffaaaa;
}

.content-title:focus {
  background-color: cornflowerblue;
}